<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Универсальный передаточный документ</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
    <script src="/static/js/main.js"></script>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"> -->
  </head>

  <body>
    <div class="content">
      <div class="main_title">
        <h1>Создать передаточный документ (УПД)</h1>
      </div>
      <form
          method="post"
          action="{% url 'index' %}"
          enctype="multipart/form-data"
          novalidate
        >
          {% csrf_token %}

      <!-- Блок 1: Счет-фактура -->
      <div class="section">
          <fieldset class="invoice">
            <div class="invoice_inner1">
              <div class="mt1">
                {{ invoice_form.invoice_number.label_tag }} {{ invoice_form.invoice_number }}
                &nbsp;{{ invoice_form.date.label_tag }} {{ invoice_form.date }}
              </div>
              <!-- <div class="col-auto">
                <button
                  type="submit"
                  name="action"
                  value="print">
                  Печать
                </button>
              </div> -->
            </div>
            <fieldset class="invoice_inner2">
              <legend>Исправления</legend>
              <div class="radiobut">{{ invoice_form.is_adjusted }}</div>
              <div class="mt1">
                {{ invoice_form.adjusted_number.label_tag }} {{ invoice_form.adjusted_number }} 
                &nbsp;{{invoice_form.adjusted_date.label_tag }} {{ invoice_form.adjusted_date }}
              </div>
            </fieldset>
          </fieldset>
      </div>

      <!-- Блок 2: На авансовый платеж -->
      <div class="section">
          <fieldset class="advance_payment">
            <legend>На авансовый платеж</legend>
            <div class="radiobut">{{ advance_payment_form.is_advance }}</div>
          </fieldset>
      </div>

      <!-- Блок 3: К платежно-расчетному документу -->
      <div class="section">
        <fieldset class="documents">
          <legend>К платежно-расчетному документу</legend>
          {{ payment_document_form.number.label_tag }} {{ payment_document_form.number }} 
          &nbsp;{{ payment_document_form.date.label_tag }} {{ payment_document_form.date }}
        </fieldset>
      </div>

      <!-- Блок 4: Информация о продавце -->
      <div class="section">
          <fieldset class="seller">
            <legend>Информация о продавце</legend>
            <div class="radiobut">{{ seller_form.status }}</div>
            <table>
              <tbody>
                  <tr><td>{{ seller_form.name.label_tag }}</td> <td>{{ seller_form.name }}</td></tr>
                  <tr><td>{{ seller_form.full_name.label_tag }}</td> <td>{{ seller_form.full_name }}</td></tr>
                  <tr><td>{{ seller_form.inn.label_tag }}</td> <td>{{ seller_form.inn }}</td></tr>
                  <tr><td>{{ seller_form.kpp.label_tag }}</td> <td>{{ seller_form.kpp }}</td></tr>
                  <tr><td>{{ seller_form.reg_address.label_tag }}</td> <td>{{ seller_form.reg_address}}</td></tr>
                  <tr><td>{{ seller_form.address.label_tag }}</td> <td>{{ seller_form.address }}</td></tr>
                  <tr><td>{{ seller_form.requisite.label_tag }}</td> <td>{{ seller_form.requisite}}</td></tr>
                  <tr><td>{{ seller_form.manager.label_tag }}</td> <td>{{ seller_form.manager}}</td></tr>
                  <tr><td>{{ seller_form.manager_fio.label_tag }}</td> <td>{{ seller_form.manager_fio }}</td></tr>
                  <tr><td>{{ seller_form.accountant_fio.label_tag }}</td> <td>{{ seller_form.accountant_fio }}</td></tr>
              </tbody>
            </table>
          </fieldset>
      </div>

      <!-- Блок 5: Грузоотправитель -->
      <div class="section">
          <fieldset class="shipper">
            <legend>Грузоотправитель</legend>
            <div class="radiobut">{{ shipper_form.relation_type }}</div>
            <table>
              <tbody>
                <tr><td>{{ shipper_form.name.label_tag }}</td> <td>{{ shipper_form.name }}</td></tr>
                <tr><td>{{ shipper_form.inn.label_tag }}</td> <td>{{ shipper_form.inn }}</td></tr>
                <tr><td>{{ shipper_form.kpp.label_tag }}</td> <td>{{ shipper_form.kpp }}</td></tr>
                <tr><td>{{ shipper_form.address.label_tag }}</td> <td>{{ shipper_form.address }}</td></tr>
                <tr><td>{{ shipper_form.manager_fio.label_tag }}</td> <td>{{ shipper_form.manager_fio }}</td></tr>
              </tbody>
            </table>
          </fieldset>
      </div>

      <!-- Блок 6: Информация о клиенте -->
      <div class="section">
          <fieldset class="buyer">
            <legend>Информация о клиенте</legend>
            <table>
              <tbody>
                  <tr><td>{{ buyer_form.name.label_tag }}</td> <td>{{ buyer_form.name }}</td></tr>
                  <tr><td>{{ buyer_form.inn.label_tag }}</td> <td>{{ buyer_form.inn }}</td></tr>
                  <tr><td>{{ buyer_form.kpp.label_tag }}</td> <td>{{ buyer_form.kpp }}</td></tr>
                  <tr><td>{{ buyer_form.address.label_tag }}</td> <td>{{ buyer_form.address }}</td></tr>
                  <tr><td>{{ buyer_form.manager.label_tag }}</td> <td>{{ buyer_form.manager}}</td></tr>
                  <tr><td>{{ buyer_form.manager_fio.label_tag }}</td> <td>{{ buyer_form.manager_fio }}</td></tr>
              </tbody>
            </table>
          </fieldset>
      </div>

      <!-- Блок 7: Грузополучатель -->
      <div class="section">
          <fieldset class="consignee">
            <legend>Грузополучатель</legend>
            <div class="radiobut">{{ consignee_form.relation_type }}</div>
            <table>
              <tbody>
                <tr><td>{{ consignee_form.name.label_tag }}</td> <td>{{ consignee_form.name }}</td></tr>
                <tr><td>{{ consignee_form.inn.label_tag }}</td> <td>{{ consignee_form.inn }}</td></tr>
                <tr><td>{{ consignee_form.kpp.label_tag }}</td> <td>{{ consignee_form.kpp }}</td></tr>
                <tr><td>{{ consignee_form.address.label_tag }}</td> <td>{{ consignee_form.address }}</td></tr>
                <tr><td>{{ consignee_form.manager_fio.label_tag }}</td> <td>{{ consignee_form.manager_fio }}</td></tr>
              </tbody>
            </table>
          </fieldset>
      </div>

      <!-- Блок 8: Документ об отгрузке -->
      <div class="section">
          <fieldset class="documents">
            <legend>Документ об отгрузке</legend>
            {{ shipping_document_form.name.label_tag }} {{ shipping_document_form.name }}
            &nbsp;{{ shipping_document_form.number.label_tag }} {{ shipping_document_form.number }} 
            &nbsp;{{ shipping_document_form.date.label_tag }} {{ shipping_document_form.date }}
          </fieldset>
      </div>

      <!-- Блок 9: Дополнительная информация -->
      <div class="section">
          <fieldset class="additional_info">
            <legend>Дополнительная информация</legend>
              {{ additional_info_form.contact_identifier.label_tag }} 
              <br>{{ additional_info_form.contact_identifier}} 
              <table>
                <tbody>
                  <tr><td>{{ additional_info_form.document_type.label_tag }}</td> <td>{{ additional_info_form.document_type }}</td></tr>
                  <tr><td>{{ additional_info_form.vat_rate.label_tag }}</td> <td>{{ additional_info_form.vat_rate }}</td> <td>{{ additional_info_form.nds_activ }}</td></tr>
                  <tr><td>{{ additional_info_form.currency.label_tag }}</td> <td>{{ additional_info_form.currency }}</td></tr>
                  <tr><td>{{ additional_info_form.form_format.label_tag }}</td> <td>{{ additional_info_form.form_format }}</td></tr>
                </tbody>
              </table>
          </fieldset>
      </div>

      <!-- Блок 10: Продукт/товар -->
      <div class="section">
          <fieldset class="sections">
            <legend>Раздел продукта/товара</legend>
            {{ product_form.section }}
            <button type="button" id="show-section-form">+ Добавить раздел</button>
            <div id="new-section-form" style="display:none; margin-top: 10px;">
              <!-- <form id="section-form" method="post">
                {% csrf_token %} -->
                {{ section_form.name.label_tag }} {{ section_form.name }}
                <button type="submit">Сохранить</button>
              <!-- </form> -->
            </div>
          </fieldset>

          <fieldset class="product">
            <legend>Продукт/товар</legend>
            <table class="product_table">
              <thead>
                <tr>
                  <th rowspan="2">Раздел</th>
                  <th rowspan="2">Код товара/работ, услуг</th>
                  <th rowspan="2">Наименование</th>
                  <th rowspan="2">Код вида товара</th>
                  <th colspan="2">Единица изм.</th>
                  <th rowspan="2">Акциз</th>
                  <th rowspan="2">Кол-во</th>
                  <th rowspan="2">Цена</th>
                  <th rowspan="2">Сумма</th>
                  <th colspan="2">Страна</th>
                  <th rowspan="2">№ ГТД <span data-tooltip="Регистрационный номер декларации на товары или регистрационный номер партии товара, подлежащего прослеживаемости"></span></th>
                </tr>
                <tr>
                  <th>код</th>
                  <th>усл. обозн.</th>
                  <th>код</th>
                  <th>кратк. наим.</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ product_form.section_id }}</td>
                  <td>{{ product_form.customs_code }}</td>
                  <td>{{ product_form.name }}</td>
                  <td>{{ product_form.customs_type_code }}</td>
                  <td>{{ product_form.quantity }}</td>
                  <td>{{ product_form.unit }}</td>
                  <td>{{ product_form.excise_duty }}</td>
                  <td>{{ product_form.number }}</td>
                  <td>{{ product_form.price }}</td>
                  <td>{{ product_form.full_sum }}</td>
                  <td>{{ product_form.country_code }}</td>
                  <td>{{ product_form.country_name }}</td>
                  <td>{{ product_form.customs_declaration_num }}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td>
                    <span>Добавить строку</span>
                    <br>
                    <span>10 строк</span>
                  </td>
                  <td><b>Сумма НДС:</b></td>
                  <td>0.00</td>
                  <td><strong>Итого</strong></td>
                  <td>0.00</td>
                </tr>
              </tfoot>
            </table>
          </fieldset>
      </div>

      <!-- Блок 11: Информация -->
      <div class="section">
          <fieldset class="info_block">
            <legend>Информация</legend>
            {{ info_block_form.basis.label_tag }} <br> {{ info_block_form.basis }}
            <br><span>Договор, доверенность</span>
            <br> {{ info_block_form.transportation_data.label_tag }} <br> {{ info_block_form.transportation_data }}
          </fieldset>
      </div>

      <!-- Блок 12: Товар передал / услуги, результаты работ, права сдал -->
      <div class="section">
          <fieldset class="transfer_details">
            <legend>Товар передал / услуги, результаты работ, права сдал</legend>
            <table>
              <tbody>
                <tr><td>{{ transfered_form.position.label_tag }}</td> <td>{{ transfered_form.position }}</td></tr>
                <tr><td>{{ transfered_form.name.label_tag }}</td> <td>{{ transfered_form.name }}</td></tr>
                <tr><td>Дата отгрузки (передачи):</td> <td>{{ transfered_form.date }}</td></tr>
                <tr></tr><td><label>{{ transfered_form.is_signed }} {{ transfered_form.is_signed.label_tag }}</label></td></tr>
                <tr><td>{{ transfered_form.other.label_tag }} <br> {{ transfered_form.other }}</td></tr>
              </tbody>
            </table>
            <legend>Ответственный за правильность оформления факта хозяйственной жизни</legend>
            <table>
              <tbody>
                <tr><td>{{ transfered_form.resp_position.label_tag }}</td> <td>{{ transfered_form.resp_position }}</td></tr>
                <tr><td>{{ transfered_form.resp_name.label_tag }}</td> <td>{{ transfered_form.resp_name }}</td></tr>
              </tbody>
            </table>
          </fieldset>
      </div>

      <!-- Блок 13: Товар (груз) получил / услуги, результаты работ, права принял -->
      <div class="section">
          <fieldset class="transfer_details">
            <legend>Товар (груз) получил / услуги, результаты работ, права принял</legend>
            <table>
              <tbody>
                <tr><td>{{ received_form.position.label_tag }}</td> <td>{{ received_form.position }}</td></tr>
                <tr><td>{{ received_form.name.label_tag }}</td> <td>{{ received_form.name }}</td></tr>
                <tr><td>Дата отгрузки (передачи):</td> <td>{{ received_form.date }}</td></tr>
                <tr><td>{{ received_form.other.label_tag }} <br> {{ received_form.other }}</td></tr>
              </tbody>
             </table>
             <legend>Ответственный за правильность оформления факта хозяйственной жизни</legend>
             <table>
              <tbody>
                <tr><td>{{ received_form.resp_position.label_tag }}</td> <td>{{ received_form.resp_position }}</td></tr>
                <tr><td>{{ received_form.resp_name.label_tag }}</td> <td>{{ received_form.resp_name }}</td></tr>
              </tbody>
             </table>
          </fieldset>
      </div>

      <!-- Блок 14: Наименование экономического субъекта – составителя документа (в т. ч. комиссионера / агента) -->
      <div class="section">
          <fieldset class="document_creator">
            <legend>Наименование экономического субъекта – составителя документа (в т. ч. комиссионера / агента)</legend>
            <div class="radiobut">{{ document_seller_form.type }}</div>
            <table>
              <tbody>
                <tr><td>{{ document_seller_form.name.label_tag }}</td> <td>{{ document_seller_form.name }}</td></tr>
                <tr><td>{{ document_seller_form.inn.label_tag }}</td> <td>{{ document_seller_form.inn }}</td></tr>
                <tr><td>{{ document_seller_form.kpp.label_tag }}</td> <td>{{ document_seller_form.kpp }}</td></tr>
              </tbody>
            </table>
          </fieldset>
      </div>

      <!-- Блок 15: Наименование экономического субъекта – составителя документа -->
      <div class="section">
          <fieldset class="document_creator">
            <legend>
              Наименование экономического субъекта – составителя документа
            </legend>
            <div class="radiobut">{{ document_buyer_form.type }}</div>
            <table>
              <tbody>
                <tr><td>{{ document_buyer_form.name.label_tag }}</td> <td>{{ document_buyer_form.name }}</td></tr>
                <tr><td>{{ document_buyer_form.inn.label_tag }}</td> <td>{{ document_buyer_form.inn }}</td></tr>
                <tr><td>{{ document_buyer_form.kpp.label_tag }}</td> <td>{{ document_buyer_form.kpp }}</td></tr>
              </tbody>
            </table>
          </fieldset>
      </div>

      <!-- Блок 16: Настройки вывода документа -->
      <div class="section">
          <fieldset class="output_settings">
            <legend>Настройки вывода документа</legend>
            {{ output_settings_form.show_stamp }} {{ output_settings_form.show_stamp.label_tag }}
            <br>
            {{ output_settings_form.show_signature }} {{ output_settings_form.show_signature.label }}
            <br>
            <table class="table_save_button_pdf">
              <td>
                <div class="col-auto">
                  <button
                    type="submit"
                    name="action"
                    value="save"
                    class="save-button"
                  >
                    Сохранить
                  </button>
                </div>
              </td>
              <td>{{ output_settings_form.file_format }}</td>
            </table>
            <!-- <div class="col-auto">
              <button
                type="submit"
                name="action"
                value="print"
              >
                Печать
              </button>
            </div> -->
            <!-- <div class="col-auto">
              <button
                type="submit"
                name="action"
                value="download"
              >
                Скачать
              </button>
            </div> -->
          </fieldset>

          {% if messages %}
          <div class="messages">
              {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">{{ message }}</div>
              {% endfor %}
          </div>
          {% endif %}

      </div>

      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>

</html>
